
.login
{
  background-image: url('/src/CleanPlate.png');
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  form
  {
    margin-top: 19%
  }
} 